<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="margin: 0 auto; width: 800px; height: 500px; background-color: antiquewhite; text-align: center;">
        <h1>COUNTER</h1>
        <h3>{{count}}</h3>
            <button style="width: 75px; height:45px;"><a href="/button">Add Two!</a></button>
            <button style="width: 75px; height:45px;"><a href="/clear" >clear</a></button>
    </div>
</body>
</html>