<div class="container bg-dark text-light">
  <router-outlet></router-outlet>

  <form (submit)="onSubmit()">
    <!-- use the json pipe to see how newTask changes in real time -->
    <p>{{ newTask | json }}</p>
    <input type="text" name="title" [(ngModel)]="newTask.title" />
    <input type="text" name="desc" [(ngModel)]="newTask.description" />
    <input type="submit" value="Create Task" />
  </form>

  <div class="border border-light">
    <!-- tip: use css to place a border around your different components to better visualize them -->
    <h1>Welcome to {{ title }}!</h1>
    <app-task></app-task>
    <!-- use the selector of the task component to nest it within the root component -->
  </div>
</div>
