<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index, Add Book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'semi_apps/css/style.css' %}">
</head>

<body>
<!-- THE DAMN HREF WORKS IDK Y IT DOESNT ALWAYS WORK ON FIRST GO -->
    <a class='align-right' href="/all_shows">Go Back</a>
    <h1> TV Show {{show.id}}</h1>

    <h2> Title: <br>{{show.title}}</h2>
    <h2> NetWerk: <br>{{show.network}}</h2>
    <h2> Release Date: <br>{{show.release_date}}</h2>
    <h2> Descript-iones: <br>{{show.description}}</h2>
    <br>
    <br>
    <h2> Last Updated:: <br>{{show.updated_at}}</h2>

</body>

</html>