<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1 class="card-title">Some Awesome Quotes</h1>
        <% for (quote of Quotes) { %>
        <div class="card-body">
          <h2 class="card-text text-align-left text-secondary">
            <%= quote.quote %>
          </h2>
          <h2 class="card-text text-align-right text-primary">
            <%= quote.name + "at" + quote.timestamp %>
          </h2>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
