<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <p>Boxes</p>

    {% for in in range(0,num): %}
      <div style="background-color:{% if color is defined %}{{color}}{%else:%}background-color: blue; {%endif%}; border: 1px solid black; height:350px; width: 350px; margin:20px; display: inline-block;"></div>
    {% endfor %}
</body>
</html>
<!-- THis is the variability code for inputing changes -->