<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <table>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Full</th>
        </tr>
        <tr>
            {% for user in users %}
            <td>{{users["first_name"]}}</td>
            <td>{{users['last_name']}}</td>
            <td>{{users['first_name'] +' '+ user['last_name']}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>