<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <app-couner></app-couner>
    <br>
    <app-farm-form></app-farm-form>
    <br>
    <app-list></app-list>
</body>

</html>


For this assignment, use your knowledge of event handlers, angular components, and services to re-create the beloved Ninja Gold assignment using Angular, Node and MongoDB. The data should be stored in the database. For now, have a new game begin every
time the page is refreshed - you may change this later if you choose. BONUS: Create a leader board to show the top five scores. BONUS: Allow a user to continue a saved game or start from scratch BONUS: Implement a save button so that the user may decide
when the game is saved to the database.