<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="container bg-secondary border-warning border-bottom mt-15">
      <h1 class="display-1">The Dojo Message Board</h1>
      <form action="/msg/" method="post">
        <div class="form-group">
          <label for="_name">Name:</label>
          <input type="text" id="_name" name="name" />
        </div>
        <div class="form-group">
          <label for="my-textarea">Message</label>
          <textarea
            id="my-textarea"
            class="form-control"
            name="message"
            rows="3"
          ></textarea>
        </div>
      </form>

      <div class="list-group">
        <% if (posts) { %> <% for message of posts { %>
        <a
          href="#"
          class="list-group-item list-group-item-action flex-column align-items-start 
				active"
        >
          <!-- if i was to implement active hilighting when the user was signed in -->
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Name: <%= posts.name %></h5>
          </div>
          <p class="mb-1"><%= posts.message %></p>
          <% if (posts.comment) { %>
          <small><%= posts.comment.name %></small>
          <small><%= posts.comment.comment %></small>
          <%}%>
        </a>
        <%}%> <%}%>

        <a
          href="#"
          class="list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Name: Zackary</h5>
          </div>
          <p class="mb-1">This is a hard coded message.</p>
          <small>ALina:</small>
          <br />
          <small>Talks Smack about Zack here</small>
        </a>
      </div>
    </div>
  </body>
</html>
